.container {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-fira-code);
  padding: 3rem 0;
  align-items: center;
  font-size: 0.8rem;

  .links {
    display: flex;
    gap: 1rem;
    color: #585E60;
  }
}
